In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import MetaData
from sqlalchemy.types import Integer, Text, String, DateTime
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.iris import flowers
import numpy as np
from math import sqrt as sr
import sys
import traceback
import unittest

In [5]:
#read the csv input files
try:
    df_run=pd.read_csv('DB RUN(1).csv')
except:
    exception_type, exception_value, exception_traceback = sys.exc_info()
    print("Exception Type: {}\nException Value: {}".format(exception_type, exception_value)) 
    file_name, line_number, procedure_name, line_code = traceback.extract_tb(exception_traceback)[-1]   
    print("File Name: {}\nLine Number: {}\nProcedure Name: {}\nLine Code:{}".format(file_name, line_number, 
    procedure_name, line_code))

In [91]:
df_train.head(10)

      x         y1         y2         y3        y4
0 -20.0  20.335772  12.592549 -40.457386  0.554206
1 -19.9  19.911407  12.874750 -40.592697  0.132782
2 -19.8  20.299100  13.078601 -39.871925  0.607059
3 -19.7  19.520018  13.248604 -39.490990  0.357283
4 -19.6  19.302052  12.516659 -39.630980  0.873556
5 -19.5  19.524689  12.575787 -39.496460  0.437845
6 -19.4  19.069155  13.265868 -39.197630  0.722974
7 -19.3  19.452087  13.210606 -39.229730  0.742449
8 -19.2  18.857280  12.486542 -38.532257  1.262554
9 -19.1  19.212317  13.242693 -38.449170  1.049771

In [92]:
df_ideal.head(10)

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902
5,-19.5,-0.605540,0.795815,9.394460,5.795815,-9.394460,0.605540,-0.947580,-0.117020,1.591630,...,-39.302770,39.397907,2.970414,-0.008368,12.970414,5.273000,-5.273000,-0.240949,0.605540,0.714434
6,-19.4,-0.523066,0.852292,9.476934,5.852292,-9.476934,0.523066,-0.962365,-0.590048,1.704585,...,-39.061530,39.226147,2.965273,-0.008375,12.965273,5.267858,-5.267858,-0.222902,0.523066,0.752791
7,-19.3,-0.435365,0.900254,9.564634,5.900254,-9.564634,0.435365,-0.974745,0.977765,1.800508,...,-38.817684,39.050125,2.960105,-0.008382,12.960105,5.262690,-5.262690,-0.195970,0.435365,0.783485
8,-19.2,-0.343315,0.939220,9.656685,5.939220,-9.656685,0.343315,-0.984688,-0.878952,1.878441,...,-38.571660,38.869610,2.954910,-0.008389,12.954910,5.257495,-5.257495,-0.161224,0.343315,0.807098
9,-19.1,-0.247834,0.968802,9.752166,5.968802,-9.752166,0.247834,-0.992170,0.375793,1.937605,...,-38.323917,38.684402,2.949688,-0.008396,12.949688,5.252274,-5.252274,-0.120051,0.247834,0.824208

In [93]:
len(Dic_ideal[0])

51

In [94]:
# array below will store position of ideal functions with least square errors vs the 4 training functions
min_position=[] 
# array below will store minimum least square errors values
min_value=[] 
    
for q in range(len(Dic_train[0])-1):
    square_array2=[]
    for p in range(len(Dic_ideal[0])-1):
        tot=0
        for x in range(len(Dic_train[:,0])):
            dev_y=(Dic_ideal[:,p+1][x]-Dic_train[:,q+1][x])**2
            tot=tot+dev_y
        square_mean=sr(tot)/len(Dic_train[:,0])
        square_array2.append(square_mean)
    min_value.append(min(square_array2))
    min_position.append(np.argmin(square_array2)+1) 

print('minimun positions are ', min_position)
print('minimun values are ', min_value)

minimun positions are  [33, 45, 41, 2]
minimun values are  [0.014652182117295395, 0.014404214576297411, 0.01411002784815242, 0.014059321476583278]

In [121]:
# create a plot that shows square error values of all ideal functions vs training function n°4
X_axis=range(1,51)
output_file("Square error values for Training function 4.html")
plot = figure(title="Square error values for Training function 4", x_axis_label="ideal functions", 
              y_axis_label="Square error values")
plot.line(X_axis, square_array2, line_width = 2)
show(plot)

In [96]:
# store the Y ideal chosen functions in arrays
FUN1=Dic_ideal[:,min_position[0]]
FUN2=Dic_ideal[:,min_position[1]]
FUN3=Dic_ideal[:,min_position[2]]
FUN4=Dic_ideal[:,min_position[3]]
# store the X values and the 4 ideal functions in an array
combined_array=np.transpose(np.array([Dic_train[:,0],FUN1,FUN2,FUN3,FUN4]))

In [97]:
Tabledf=pd.DataFrame({'X':combined_array[:,0],'Y1':combined_array[:,1],'Y2':combined_array[:,2], 
                      'Y3':combined_array[:,3], 'Y4':combined_array[:,4]})

In [98]:
# visualize the structure of 'Tabledf'
Tabledf.head(10)

      X         Y1         Y2         Y3        Y4
0 -20.0  20.124610  12.995732 -40.456474  0.408082
1 -19.9  20.025234  12.990720 -40.233820  0.497186
2 -19.8  19.925863  12.985682 -40.006836  0.581322
3 -19.7  19.826498  12.980619 -39.775787  0.659649
4 -19.6  19.727139  12.975530 -39.540980  0.731386
5 -19.5  19.627787  12.970414 -39.302770  0.795815
6 -19.4  19.528440  12.965273 -39.061530  0.852292
7 -19.3  19.429102  12.960105 -38.817684  0.900254
8 -19.2  19.329770  12.954910 -38.571660  0.939220
9 -19.1  19.230444  12.949688 -38.323917  0.968802

In [99]:
# store deviation between ideal chosen functions and training functions in an array
Array_dev1=[]     
Array_dev2=[]     
Array_dev3=[]     
Array_dev4=[]     

for x in range(len(Dic_train[:,1])):
    Array_dev1.append(abs(Dic_ideal[:,min_position[0]][x]-Dic_train[:,1][x]))
    Array_dev2.append(abs(Dic_ideal[:,min_position[1]][x]-Dic_train[:,2][x]))
    Array_dev3.append(abs(Dic_ideal[:,min_position[2]][x]-Dic_train[:,3][x]))
    Array_dev4.append(abs(Dic_ideal[:,min_position[3]][x]-Dic_train[:,4][x]))

In [100]:
# store Y training functions in arrays
Y1TRAIN = Dic_train[:,1]
Y2TRAIN = Dic_train[:,2]
Y3TRAIN = Dic_train[:,3]
Y4TRAIN = Dic_train[:,4]

In [101]:
def graphs():
    ''' 
    This function shows relationships between ideal and train functions using line charts
    
    Parameters:
    ------------
    First plot:
    x: x axis values
    Y1TRAIN: 1st training function
    FUN1: 1st ideal function chosen
    return: a line chart
    
    Second plot:
    x: x axis values
    Y2TRAIN: 2nd training function
    FUN2: 2nd ideal function chosen
    return: a line chart
    
    Third plot:
    x: x axis values
    Y3TRAIN: 3rd training function
    FUN3: 3rd ideal function chosen
    return: a line chart
    
    Fourth plot:
    x: x axis values
    Y4TRAIN: 4th training function
    FUN4: 4th ideal function chosen
    return: a line chart

    '''
    #1 First plot
    output_file("function1.html")
    plot = figure(title="Line Plot", x_axis_label="x axis",    y_axis_label="y axis")
    x = range(0,400)
    plot.line(x, Y1TRAIN, line_width = 2, color = "red", legend_label = "Training function 1")
    plot.line(x, FUN1, line_width = 2, color = "blue", legend_label = "Ideal chosen function")
    show(plot)
    #2 Second plot
    output_file("function2.html")
    plot = figure(title="Line Plot", x_axis_label="x axis",    y_axis_label="y axis")
    x = range(0,400)
    plot.line(x, Y2TRAIN, line_width = 2, color = "red", legend_label = "Training function 2")
    plot.line(x, FUN2, line_width = 2, color = "blue", legend_label = "Ideal chosen function")
    show(plot)
    #3 Third plot
    output_file("function3.html")
    plot = figure(title="Line Plot", x_axis_label="x axis",    y_axis_label="y axis")
    x = range(0,400)
    plot.line(x, Y3TRAIN, line_width = 2, color = "red", legend_label = "Training function 3")
    plot.line(x, FUN3, line_width = 2, color = "blue", legend_label = "Ideal chosen function")
    show(plot)
    #4 Fourth plot
    output_file("function4.html")
    plot = figure(title="Line Plot", x_axis_label="x axis",    y_axis_label="y axis")
    x = range(0,400)
    plot.line(x, Y4TRAIN, line_width = 2, color = "red", legend_label = "Training function 4")
    plot.line(x, FUN4, line_width = 2, color = "blue", legend_label = "Ideal chosen function")
    show(plot)

graphs()

In [102]:
# store functions in arrays
TrainX=Dic_train[:,0]
TestX= Dic_test[:,0]
TestY= Dic_test[:,1]

In [103]:
class MyException(Exception):  
    '''
    This class creates a user-defined exception. 
    It is used below to identify which value in POS_Array is above the maximum lenght of the train dataset.
    
    '''
    def __init___(self, exception_parameter, exception_message): 
        super().__init__(self, exception_parameter, exception_message)

# array below will give position of X test function values in X train/ideal function values
POS_Array=[]  
for POS in range(len(TestX)):
    TEMP=np.where(TrainX==TestX[POS])[0][0]
    POS_Array.append(TEMP)
# loop below to check if some values is above maximum value allowed
for POS_1 in POS_Array:
    if POS_1 > len(TrainX):
        raise MyException(POS_1, "Value that raised exception: {}".format(POS_1))

In [104]:
class TestPOSArray(unittest.TestCase):
    '''
    This class is used to perform few tests on 'POS_Array'.
    The position of X test values was checked manually in training datasets for first and second record.
    A test is performed to verify that 'POS_Array' returns same values.
    A test on the lenght of the array is also performed.
    
    '''
    def testElementsPosArray(self):
        
        '''
        This function performs the tests
        
        Parameters
        ---------
        self
        
        return: tests on equality
        
        '''
        self.assertEqual(POS_Array[0],117)
        self.assertEqual(POS_Array[1],84)
        self.assertEqual(len(POS_Array), 100)
        
if __name__ == '__main__':
       unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.006s

OK

In [105]:
# array below will provide ideal chosen functions number with least deviation vs test Y function
# these are the values meaning:
# 0: minimum value at function 1
# 1: minimum value at function 2
# 2: minimum value at function 3
# 3: minimum value at function 4
Position=[]
for r in range(len(TestY)):
    Deviation=[]
    for i in range(4):
        Deviation.append(abs(combined_array[:,i+1][POS_Array[r]]-TestY[r]))    
        x=np.argmin(Deviation)
    Position.append(x)


class TestPosition(unittest.TestCase):
    '''
    This class is used to perform few tests on 'Position'.
    The number of the ideal chosen function with lowest deviation was checked manually for first and second record.
    A test is performed to verify that 'Position' returns same values.
    A test on the lenght of the array is also performed.
    
    '''
    def testElementsPosition(self):
        '''
        This function performs the test
        
        Parameters
        ---------
        self
        
        return: tests on equality
        '''
        self.assertEqual(Position[0],3)
        self.assertEqual(Position[1],1)
        self.assertEqual(len(Position), 100)
        
if __name__ == '__main__':
       unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.006s

OK

In [106]:
def MaxArray(x):
    '''
    This function returns maximum value of an array
    
    Parameters
    ----------
    x: input array
    return: maximum value
    
    '''
    return np.max(x)

LD1 = MaxArray(Array_dev1)
LD2 = MaxArray(Array_dev2)
LD3 = MaxArray(Array_dev3)
LD4 = MaxArray(Array_dev4)
print('Largest deviation in function 1 ', LD1)
print('Largest deviation in function 2 ', LD2)
print('Largest deviation in function 3 ', LD3)
print('Largest deviation in function 4 ', LD4)

Largest deviation in function 1  0.4999793000000001
Largest deviation in function 2  0.49920799999999943
Largest deviation in function 3  0.4992830000000019
Largest deviation in function 4  0.4985096200000001

In [107]:
# array below provides to which function is possible to map the value
match_col=[]  
# array below provides the deviation between Y test function and Y ideal chosen function
Deviation_array=[] 
# array below provides largest deviation allowed
Max_Deviation_factorsqrt = []
# array below provides Y values of ideal chosen function
Mapped_points = []


for p in range(len(Position)):
    try:
        x=Position[p]
        if x==0:
            Deviation_array.append(abs(TestY[p]-FUN1[POS_Array[p]]))
            Max_Deviation_factorsqrt.append(sr(2)*LD1)
            Mapped_points.append(FUN1[POS_Array[p]])
            if sr(2)*LD1 > (abs(TestY[p]-FUN1[POS_Array[p]])):
                match_col.append('Map to Y1')
            else:
                match_col.append('No mapping')
        elif x==1:
            Deviation_array.append(abs(TestY[p]-FUN2[POS_Array[p]]))
            Max_Deviation_factorsqrt.append(sr(2)*LD2)
            Mapped_points.append(FUN2[POS_Array[p]])
            if sr(2)*LD2 > (abs(TestY[p]-FUN2[POS_Array[p]])):
                match_col.append('Map to Y2')
            else:
                match_col.append('No mapping')
        elif x==2:
            Deviation_array.append(abs(TestY[p]-FUN3[POS_Array[p]]))
            Max_Deviation_factorsqrt.append(sr(2)*LD3)
            Mapped_points.append(FUN3[POS_Array[p]])
            if sr(2)*LD3 > (abs(TestY[p]-FUN3[POS_Array[p]])):
                match_col.append('Map to Y3')
            else:
                match_col.append('No mapping')
        elif x==3:
            Deviation_array.append(abs(TestY[p]-FUN4[POS_Array[p]]))
            Max_Deviation_factorsqrt.append(sr(2)*LD4)
            Mapped_points.append(FUN4[POS_Array[p]])
            if sr(2)*LD4 > (abs(TestY[p]-FUN4[POS_Array[p]])):
                match_col.append('Map to Y4')
            else:
                match_col.append('No mapping')
    except:
        match_col.append('Case contains errors')

In [108]:
Table_final=pd.DataFrame({'Test X': TestX, 'Test Y':TestY, 'Deviation':Deviation_array, 'Mapping':match_col})

In [109]:
Table_final.to_csv(r'Table03.csv', index = False, header=True)

In [110]:
# visualize the structure of 'Table_final'
Table_final.head(20)

    Test X     Test Y  Deviation     Mapping
0     -8.3  -0.895549   0.464173   Map to Y4
1    -11.6  13.374343   0.923338  No mapping
2    -16.0  -0.621857   0.335803   Map to Y4
3    -16.0  -0.470642   0.487018   Map to Y4
4     18.6  19.101662   0.367735   Map to Y1
5     19.0  20.010813   0.879687  No mapping
6     19.9 -32.285355  32.782541  No mapping
7      0.7   9.672904   0.029579   Map to Y2
8    -13.4  12.759215   0.163960   Map to Y2
9     -2.7 -23.696130  18.082440  No mapping
10    -8.2 -29.385246  12.514881  No mapping
11    -2.9   4.262147   0.600180   Map to Y1
12    -7.7 -16.940145   1.046061  No mapping
13    11.7  13.043322   0.583733   Map to Y2
14   -19.3 -39.151650   0.333966   Map to Y3
15    -5.4  18.133600   6.447202  No mapping
16    -3.5  16.214142   4.961379  No mapping
17    15.0  13.752675   1.044625  No mapping
18     6.2  -0.173050   1.169592  No mapping
19   -13.5  12.377889   0.224801   Map to Y2

In [111]:
Table_mapped = pd.DataFrame({'Test X': TestX, 'Test Y':TestY, 'Deviation':Deviation_array, 
                             'Ideal mapped Y':Mapped_points, 'Mapping':match_col, '
                             Max Deviation':Max_Deviation_factorsqrt})
Table_mapped = Table_mapped.drop(Table_mapped[Table_mapped.Mapping == "No mapping"].index)
# create a table only with mapped points
T_mapped=Table_mapped.to_numpy()

class TestMapping(unittest.TestCase):
    '''
    This class is used to perform few tests on 'T_mapped' table.
    Since this table should contain only mapped points, it's possible to test its correctness by checking
    that max deviation allowed (the one multiplied by sqrt(2)) is always greater than the deviation between 
    ideal chosen functions and test function. 
    A test run on first ten records can be considered as satisfied to verify it.
    
    '''
    def testDeviations(self):
        '''
        This function performs the tests
        
        Parameters:
        ----------
        self
        
        return: tests on majority conditions
        
        '''
        self.assertGreater(T_mapped[:,5][0],T_mapped[:,2][0])
        self.assertGreater(T_mapped[:,5][1],T_mapped[:,2][1])
        self.assertGreater(T_mapped[:,5][2],T_mapped[:,2][2])
        self.assertGreater(T_mapped[:,5][3],T_mapped[:,2][3])
        self.assertGreater(T_mapped[:,5][4],T_mapped[:,2][4])
        self.assertGreater(T_mapped[:,5][5],T_mapped[:,2][5])
        self.assertGreater(T_mapped[:,5][6],T_mapped[:,2][6])
        self.assertGreater(T_mapped[:,5][7],T_mapped[:,2][7])
        self.assertGreater(T_mapped[:,5][8],T_mapped[:,2][8])
        self.assertGreater(T_mapped[:,5][9],T_mapped[:,2][9])        
        
if __name__ == '__main__':
       unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.013s

OK

In [112]:
def deviation_graphs():
    '''
    This function runs graphs that show relationship between datasets
    
    Parameters
    ----------
    First plot:
    x: x axis values
    Max_Deviation_factorsqrt: Maximum deviation allowed (Largest deviation * sqrt(2))
    Deviation_array: Deviations between test dataset and ideal chosen function
    return: a line plot, a scatter plot
    
    Second plot:
    T_mapped[:,0]: X test values
    T_mapped[:,1]: Y test values
    T_mapped[:,3]: Y ideal chosen functions values
    return: a scatter plot, a scatter plot
    
    '''
    #1 First plot
    output_file("Largest deviation allowed vs Test points deviation.html")
    plot = figure(title="Largest deviation allowed vs Test points deviation.html", x_axis_label="x axis", 
                  y_axis_label="deviation")
    x = range(0,100)
    plot.line(x,Max_Deviation_factorsqrt , line_width = 2, color = "red", legend_label ="max deviation allowed") 
    plot.scatter(x, Deviation_array,  color = "blue", legend_label = "deviation")
    show(plot)
    #2 Second plot
    output_file("Test functions and mapped points function")
    plot = figure(title="Test functions and mapped points function", x_axis_label="x axis",
                  y_axis_label="functions")     
    plot.scatter(T_mapped[:,0],T_mapped[:,1] , line_width = 2, color = "red", legend_label ="test points")
    plot.scatter(T_mapped[:,0],T_mapped[:,3] ,  color = "blue", legend_label = "ideal chosen functions mapped points") 
    show(plot)
deviation_graphs()

In [113]:
class CreateTable:
    
    '''
    A class to create SQL tables
    '''
    
    def __init__(self,name,dic,df,engine):
        '''
        A function that initializes attributes
        
        Parameters
        ----------
        name: table name
        dic: table columns
        df: table data
        engine
        
        '''
        self.name=name
        self.dic=dic
        self.df=df
        self.engine=engine
        
    def sqltable(self):
        '''
        A function that creates sql tables
        
        Parameters
        ---------
        self
        
        '''
        self.df.to_sql(
            self.name,
            self.engine,
            if_exists='replace',
            index=False,
            chunksize=500,
            dtype=self.dic    
        )

In [114]:
table_name1='Table 01'
engine=create_engine('sqlite:///database_file.sqlite',echo=True)
dic1={
        "X":Integer,
        "Y1":Integer,
        "Y2":Integer,
        "Y3":Integer,
        "Y4":Integer
        }
df_train=pd.read_csv('train.csv')

In [115]:
#instances of class CreateTable to create SQL tables
Table1=CreateTable(table_name1,dic1,df_train,engine)
Table1.sqltable()

2020-11-25 08:12:38,103 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:38,112 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,125 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:38,127 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,135 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 01")
2020-11-25 08:12:38,137 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,146 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 01")
2020-11-25 08:12:38,148 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,154 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:38,155 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,160 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("Table 01")
2020-11-25 08:12:38,162 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,166 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 01' AND type = 'table'
2020-11-25 08:12:38,168 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,171 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Table 01")
2020-11-25 08:12:38,176 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,178 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Table 01")
2020-11-25 08:12:38,180 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,183 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 01' AND type = 'table'
2020-11-25 08:12:38,185 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,190 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 01")
2020-11-25 08:12:38,193 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,198 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 01")
2020-11-25 08:12:38,199 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,205 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 01")
2020-11-25 08:12:38,207 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,209 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 01")
2020-11-25 08:12:38,211 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,215 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 01' AND type = 'table'
2020-11-25 08:12:38,218 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,226 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Table 01"
2020-11-25 08:12:38,228 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,252 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:38,257 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Table 01" (
	x FLOAT,
	y1 FLOAT,
	y2 FLOAT,
	y3 FLOAT,
	y4 FLOAT
)


2020-11-25 08:12:38,259 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:38,267 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:38,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-25 08:12:38,560 INFO sqlalchemy.engine.base.Engine INSERT INTO "Table 01" (x, y1, y2, y3, y4) VALUES (?, ?, ?, ?, ?)
2020-11-25 08:12:38,561 INFO sqlalchemy.engine.base.Engine ((-20.0, 20.335772, 12.592549, -40.457386, 0.5542057), (-19.9, 19.911407, 12.87475, -40.592696999999994, 0.13278209), (-19.8, 20.2991, 13.078600999999999, -39.871925, 0.60705936), (-19.7, 19.520018, 13.248604, -39.490990000000004, 0.3572833), (-19.6, 19.302052, 12.516658999999999, -39.63098, 0.87355626), (-19.5, 19.524689000000002, 12.575787, -39.49646, 0.4378455), (-19.4, 19.069155, 13.265868, -39.19763, 0.72297364), (-19.3, 19.452087, 13.210606, -39.229729999999996, 0.7424486)  ... displaying 10 of 400 total bound parameter sets ...  (19.8, 19.565507999999998, 12.538135, 39.829536, 0.121425845), (19.9, 20.20446, 13.274503, 39.995087, 0.77558655))
2020-11-25 08:12:38,565 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:38,569 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:38,570 INFO sqlalchemy.engine.base.Engine ()

In [116]:
class TableInfo(CreateTable):
    '''
    A class that gives all info on the Table created.
    It is a child class of 'CreateTable' and inherits all its attributes
    
    '''
    def __init__(self,name,dic,df,engine,shape,head,info):
        '''
        A function that initializes attributes
        
        Parameters
        ----------
        name: table name
        dic: table columns
        df: table data
        engine
        shape: table shape
        head: table initial rows
        info: table info
        
        '''
        super().__init__(name, dic, df, engine)
        self.shape = shape
        self.head = head
        self.info = info
        
shape_1 = df_train.shape
head_1 = df_train.head(10)
info_1 = df_train.info()
Table1info = TableInfo(table_name1, dic1, df_train, engine, shape_1, head_1, info_1)
Table1info.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       400 non-null    float64
 1   y1      400 non-null    float64
 2   y2      400 non-null    float64
 3   y3      400 non-null    float64
 4   y4      400 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

In [117]:
table_name2='Table 02'
engine=create_engine('sqlite:///database_file.sqlite',echo=True)
dic2={
        "X":Integer,
        "X":Integer,
        "Y1":Integer, "Y2":Integer, "Y3":Integer, "Y4":Integer, "Y5":Integer, "Y6":Integer, "Y7":Integer,
        "Y8":Integer, "Y9":Integer, "Y10":Integer,"Y11":Integer, "Y12":Integer, "Y13":Integer, "Y14":Integer, 
        "Y15":Integer, "Y16":Integer, "Y17":Integer, "Y18":Integer, "Y19":Integer, "Y20":Integer,"Y21":Integer, 
        "Y22":Integer, "Y23":Integer, "Y24":Integer, "Y25":Integer, "Y26":Integer, "Y27":Integer, "Y28":Integer, 
        "Y29":Integer, "Y30":Integer, "Y31":Integer, "Y32":Integer, "Y33":Integer, "Y34":Integer, "Y35":Integer,
        "Y36":Integer, "Y37":Integer, "Y38":Integer, "Y39":Integer, "Y40":Integer, "Y41":Integer, "Y42":Integer,
        "Y43":Integer, "Y44":Integer, "Y45":Integer, "Y46":Integer, "Y47":Integer, "Y48":Integer, "Y49":Integer, 
        "Y50":Integer

        }
df_ideal=pd.read_csv('ideal.csv')

In [118]:
Table2=CreateTable(table_name2,dic2,df_ideal,engine)
Table2.sqltable()

2020-11-25 08:12:46,204 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:46,206 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,210 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:46,211 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,213 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 02")
2020-11-25 08:12:46,215 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,218 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 02")
2020-11-25 08:12:46,220 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,223 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:46,225 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,228 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("Table 02")
2020-11-25 08:12:46,231 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,237 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 02' AND type = 'table'
2020-11-25 08:12:46,239 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,241 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Table 02")
2020-11-25 08:12:46,246 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,249 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Table 02")
2020-11-25 08:12:46,251 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,273 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 02' AND type = 'table'
2020-11-25 08:12:46,277 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,287 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 02")
2020-11-25 08:12:46,289 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,290 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 02")
2020-11-25 08:12:46,296 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,301 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 02")
2020-11-25 08:12:46,307 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,308 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 02")
2020-11-25 08:12:46,312 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,316 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 02' AND type = 'table'
2020-11-25 08:12:46,317 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,322 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Table 02"
2020-11-25 08:12:46,323 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,359 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:46,378 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Table 02" (
	x FLOAT,
	y1 FLOAT,
	y2 FLOAT,
	y3 FLOAT,
	y4 FLOAT,
	y5 FLOAT,
	y6 FLOAT,
	y7 FLOAT,
	y8 FLOAT,
	y9 FLOAT,
	y10 FLOAT,
	y11 FLOAT,
	y12 FLOAT,
	y13 FLOAT,
	y14 FLOAT,
	y15 FLOAT,
	y16 FLOAT,
	y17 FLOAT,
	y18 FLOAT,
	y19 FLOAT,
	y20 FLOAT,
	y21 FLOAT,
	y22 FLOAT,
	y23 FLOAT,
	y24 FLOAT,
	y25 FLOAT,
	y26 FLOAT,
	y27 FLOAT,
	y28 FLOAT,
	y29 FLOAT,
	y30 FLOAT,
	y31 FLOAT,
	y32 FLOAT,
	y33 FLOAT,
	y34 FLOAT,
	y35 FLOAT,
	y36 FLOAT,
	y37 FLOAT,
	y38 FLOAT,
	y39 FLOAT,
	y40 FLOAT,
	y41 FLOAT,
	y42 FLOAT,
	y43 FLOAT,
	y44 FLOAT,
	y45 FLOAT,
	y46 FLOAT,
	y47 FLOAT,
	y48 FLOAT,
	y49 FLOAT,
	y50 FLOAT
)


2020-11-25 08:12:46,379 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:46,385 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:46,392 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-25 08:12:46,432 INFO sqlalchemy.engine.base.Engine INSERT INTO "Table 02" (x, y1, y2, y3, y4, y5, y6, y7, y8, y9, y10, y11, y12, y13, y14, y15, y16, y17, y18, y19, y20, y21, y22, y23, y24, y25, y26, y27, y28, y29, y30, y31, y32, y33, y34, y35, y36, y37, y38, y39, y40, y41, y42, y43, y44, y45, y46, y47, y48, y49, y50) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-11-25 08:12:46,434 INFO sqlalchemy.engine.base.Engine ((-20.0, -0.9129453000000002, 0.40808207, 9.087055, 5.408082, -9.087055, 0.9129453000000002, -0.8390715, -0.85091937, 0.81616414, 18.258905, -20.0, -58.0, -45.0, 20.0, 13.0, 400.0, -400.0, 800.0, 410.0, 289.0, -8000.0, 8000.0, 8000.0, -16000.0, -23995.0, -5832.0, 10648.0, -8020.0, -7600.0, -8795.0, 20.0, 4.472136, 20.12461, -0.7464143, 10.0, 100.0, -20.0, -1.3210273000000001, 399.08707000000004, 899.5919, -40.456474, 40.20404, 2.9957323, -0.008333334, 12.995732, 5.298317400000001, -5.298317400000001, -0.18627828, 0.9129453000000002, 0.39684959999999997), (-19.9, -0.8676440999999999, 0.4971858, 9.132356, 5.4971857, -9.132356, 0.8676440999999999, -0.8652126, 0.16851768, 0.9943716, 17.266117, -19.9, -57.7, -44.8, 19.9, 12.95, 396.01, -396.01, 792.02, 406.01, 285.61, -7880.599, 7880.599, 7880.599, -15761.198, -23636.797000000002, -5735.339, 10503.458999999999, -7900.499, -7484.589, -8667.619, 19.9, 4.460942, 20.025234, -0.6204504, 9.9, 99.5, -19.9, -1.3648299, 395.14236, 893.5128, -40.23382, 40.048590000000004, 2.9907197999999995, -0.008340283, 12.99072, 5.293305, -5.293305, -0.21569017, 0.8676440999999999, 0.47695395), (-19.8, -0.81367373, 0.58132184, 9.186326, 5.5813217, -9.186326, 0.81367373, -0.88919115, 0.6123911, 1.1626437, 16.11074, -19.8, -57.4, -44.6, 19.8, 12.9, 392.04, -392.04, 784.08, 402.04, 282.24, -7762.392, 7762.392, 7762.392, -15524.784, -23282.176, -5639.7519999999995, 10360.232, -7782.191999999999, -7370.352, -8541.472, 19.8, 4.449719, 19.925863, -0.47573867, 9.8, 99.0, -19.8, -1.3949956000000001, 391.22632000000004, 887.4587, -40.006836, 39.89066, 2.985682, -0.008347246, 12.985682, 5.288266999999999, -5.288266999999999, -0.23650314, 0.81367373, 0.5491291), (-19.7, -0.75157344, 0.65964943, 9.248426, 5.6596494, -9.248426, 0.75157344, -0.91094714, -0.99466854, 1.3192989, 14.805995999999999, -19.7, -57.1, -44.4, 19.7, 12.85, 388.09, -388.09, 776.18, 398.09, 278.89, -7645.3730000000005, 7645.3730000000005, 7645.3730000000005, -15290.746000000001, -22931.12, -5545.233, 10218.313, -7665.073, -7257.283, -8416.553, 19.7, 4.438468, 19.826498, -0.31643602, 9.7, 98.5, -19.7, -1.4112228, 387.33844, 881.43036, -39.775787, 39.729824, 2.9806187, -0.008354219, 12.9806185, 5.283203599999999, -5.283203599999999, -0.24788749, 0.75157344, 0.6128399), (-19.6, -0.6819636, 0.7313861, 9.318036, 5.731386, -9.318036, 0.6819636, -0.9304263, 0.7743557, 1.4627723, 13.366487, -19.6, -56.8, -44.2, 19.6, 12.8, 384.16, -384.16, 768.32, 394.16, 275.56, -7529.536, 7529.536, 7529.536, -15059.072, -22583.607000000004, -5451.776, 10077.696, -7549.1359999999995, -7145.376, -8292.856, 19.6, 4.427189, 19.727139, -0.147038, 9.6, 98.0, -19.6, -1.4133497, 383.47803, 875.4286, -39.54098, 39.565692999999996, 2.9755297, -0.008361204, 12.975530000000001, 5.278115000000001, -5.278115000000001, -0.24938935, 0.6819636, 0.6679019), (-19.5, -0.60553986, 0.7958149999999999, 9.39446, 5.795815, -9.39446, 0.60553986, -0.9475798000000001, -0.11702018, 1.5916299999999999, 11.808027000000001, -19.5, -56.5, -44.0, 19.5, 12.75, 380.25, -380.25, 760.5, 390.25, 272.25, -7414.875, 7414.875, 7414.875, -14829.75, -22239.625, -5359.375, 9938.375, -7434.375, -7034.625, -8170.375, 19.5, 4.4158800000000005, 19.627786999999998, 0.027781596000000002, 9.5, 97.5, -19.5, -1.4013548, 379.64447, 869.45416, -39.30277, 39.397907000000004, 2.9704144, -0.008368201, 12.970414, 5.273, -5.273, -0.24094884, 0.60553986, 0.7144341), (-19.4, -0.52306575, 0.8522923000000001, 9.476934, 5.8522925, -9.476934, 0.52306575, -0.96236485, -0.59004813, 1.7045846000000002, 10.147476, -19.4, -56.2, -43.8, 19.4, 12.7, 376.36, -376.36, 752.72, 386.36, 268.96, -7301.384, 7301.384, 7301.384, -14602.768, -21899.152000000002, -5268.024, 9800.344000000001, -7320.784000000001, -6925.024, -8049.104, 19.4, 4.404543, 19.52844, 0.20333645, 9.4, 97.0, -19.4, -1.3753581, 375.83693999999997, 863.5077, -39.06153, 39.226147, 2.9652731, -0.00837521, 12.965273, 5.267858, -5.267858, -0.22290246, 0.52306575, 0.75279135), (-19.3, -0.43536535, 0.90025383, 9.564634, 5.900254, -9.564634, 0.43536535, -0.97474456, 0.97776526, 1.8005077, 8.402552, -19.3, -55.9, -43.6, 19.3, 12.65, 372.49, -372.49, 744.98, 382.49, 265.69, -7189.057, 7189.057, 7189.057, -14378.114, -21562.172000000002, -5177.717000000001, 9663.597, -7208.357, -6816.566999999999, -7929.036999999999, 19.3, 4.393176599999999, 19.429102, 0.37509164, 9.3, 96.5, -19.3, -1.3356192, 372.05463, 857.5897, -38.817684, 39.050125, 2.9601052000000005, -0.00838223, 12.960105, 5.26269, -5.26269, -0.19596967, 0.43536535, 0.7834846999999999)  ... displaying 10 of 400 total bound parameter sets ...  (19.8, 0.81367373, 0.58132184, 10.813674, 5.5813217, -10.813674, -0.81367373, -0.88919115, 0.6123911, 1.1626437, 16.11074, 19.8, 61.4, 34.6, -19.8, -6.9, 392.04, -392.04, 784.08, 402.04, 519.84, 7762.392, 7762.392, -7762.392, 15524.784, 23292.176, 10360.232, -5639.7519999999995, 7782.191999999999, 8154.432, 6983.312, 19.8, 4.449719, 19.925863, 1.1516088, 9.8, 99.0, -19.8, 0.23235193, 392.85367, 95.45868, 40.006836, -39.309338000000004, 2.985682, -0.012468828000000001, 12.985682, 5.288266999999999, -5.288266999999999, 0.23650314, 0.81367373, 0.5491291), (19.9, 0.8676440999999999, 0.4971858, 10.867644, 5.4971857, -10.867644, -0.8676440999999999, -0.8652126, 0.16851768, 0.9943716, 17.266117, 19.9, 61.7, 34.8, -19.9, -6.95, 396.01, -396.01, 792.02, 406.01, 524.41, 7880.599, 7880.599, -7880.599, 15761.198, 23646.797000000002, 10503.458999999999, -5735.339, 7900.499, 8276.609, 7093.579000000001, 19.9, 4.460942, 20.025234, 1.1148378, 9.9, 99.5, -19.9, 0.3704583, 396.87766, 97.51281999999999, 40.23382, -39.551407, 2.9907197999999995, -0.012484395, 12.99072, 5.293305, -5.293305, 0.21569017, 0.8676440999999999, 0.47695395))

2020-11-25 08:12:46,449 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:46,454 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:46,455 INFO sqlalchemy.engine.base.Engine ()

In [119]:
table_name3='Table 03'
engine=create_engine('sqlite:///database_file.sqlite',echo=True)
dic3={
        "Test X":Integer,
        "Test Y":Integer,
        "Deviation":Integer,
        "Mapping":String,
        }

In [120]:
Table3=CreateTable(table_name3,dic3,Table_final,engine)
Table3.sqltable()

2020-11-25 08:12:51,170 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:51,172 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,174 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-25 08:12:51,177 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,180 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 03")
2020-11-25 08:12:51,182 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,185 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Table 03")
2020-11-25 08:12:51,187 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,189 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:51,191 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,194 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("Table 03")
2020-11-25 08:12:51,196 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,198 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 03' AND type = 'table'
2020-11-25 08:12:51,199 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,205 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Table 03")
2020-11-25 08:12:51,207 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,209 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Table 03")
2020-11-25 08:12:51,211 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,213 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 03' AND type = 'table'
2020-11-25 08:12:51,214 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,216 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 03")
2020-11-25 08:12:51,218 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,224 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 03")
2020-11-25 08:12:51,226 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,228 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Table 03")
2020-11-25 08:12:51,229 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,233 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Table 03")
2020-11-25 08:12:51,234 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,236 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Table 03' AND type = 'table'
2020-11-25 08:12:51,237 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,241 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Table 03"
2020-11-25 08:12:51,242 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,249 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:51,255 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Table 03" (
	"Test X" INTEGER,
	"Test Y" INTEGER,
	"Deviation" INTEGER,
	"Mapping" VARCHAR
)


2020-11-25 08:12:51,258 INFO sqlalchemy.engine.base.Engine ()
2020-11-25 08:12:51,266 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:51,270 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-25 08:12:51,274 INFO sqlalchemy.engine.base.Engine INSERT INTO "Table 03" ("Test X", "Test Y", "Deviation", "Mapping") VALUES (?, ?, ?, ?)
2020-11-25 08:12:51,276 INFO sqlalchemy.engine.base.Engine ((-8.3, -0.89554936, 0.46417252, 'Map to Y4'), (-11.6, 13.374343, 0.9233379999999993, 'No mapping'), (-16.0, -0.62185675, 0.3358027499999999, 'Map to Y4'), (-16.0, -0.47064158, 0.4870179199999999, 'Map to Y4'), (18.6, 19.101662, 0.36773500000000325, 'Map to Y1'), (19.0, 20.010813, 0.879686999999997, 'No mapping'), (19.9, -32.285354999999996, 32.78254079999999, 'No mapping'), (0.7, 9.672903999999999, 0.029578999999998246, 'Map to Y2')  ... displaying 10 of 100 total bound parameter sets ...  (13.9, 29.241402, 0.9553989999999963, 'No mapping'), (7.5, 1.7170471, 1.3704118, 'No mapping'))
2020-11-25 08:12:51,280 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-25 08:12:51,290 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-11-25 08:12:51,292 INFO sqlalchemy.engine.base.Engine ()